@font-face {
  font-family: "MongolianBaiti";

  src: url("./assets/fonts/MongolianBaiti.eot");
  src: url("./assets/fonts/MongolianBaiti.woff") format("woff"),
    url("./assets/fonts/MongolianBaiti.woff2") format("woff2"),
    url("./assets/fonts/MongolianBaiti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
